@model NavbarViewModel
@{
    ViewData["Title"] = "Grid Menu Page";
}

<section style="margin-top:5px;">

    @foreach (var band in Model.NavBands)
    {
        <div class="row clearfix">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header custom_card_header_cls">
                        <div class="col-md-12">
                            <h4 class="m-0 font-weight-bolder">@band?.Name</h4>
                        </div>
                    </div>
                    <div class="card-body row">
                        @foreach (var itemchid in band.NavItems)
                        {
                            <div class="col-3">
                                <div class="form-group text-center card" style="background: #41BDA7; color:whitesmoke">
                                    <a class="text-center btn btn-default" asp-area="@itemchid?.Area" asp-controller="@itemchid?.Controller" asp-action="@itemchid?.Action" style="text-decoration:none;">
                                        <i class="@itemchid.ImgClass fa-3x" style="color: whitesmoke!important"></i>
                                        <br /><span style="color: whitesmoke; font-size: 10pt; font-weight: 400;">@itemchid?.Name</span>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

</section>
